/* .table_1{
    background-color:purple;
    height: 50px;width: 
    200px;
} */


/*body{

    background-color: silver;
    background-image: url("web2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    text-align: center;
    color: brown;
    border: 10px;
    
}
.item{
    text-indent: 100px;
    color:black;
    background-color: rgb(213, 216, 213);
    background-image: url("flower 2.jpg");
   background-size: cover;

    

}
.reference{
    text-indent: 200px;
    color: white;
    background-color:lightcoral;
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
#value{
    
    border-color: black;
}
body{
    border: 2;
    border-color: black;
}
.name{
    background-color: brown;
    width: 100%;
    height: 100px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}
.id{
    background-color: gray;
    width: 100%;
    height: 300px;
    float:left;
    margin: 5px;
    border-radius: 10px;
}
.no{
    background-color:gray;
    width: 100%;
    height: 100px;
    float: left;
    margin: 10px;
    border-radius: 5px;
    }

.div1{
    background-color: gray;
    width: 100%;
    height: 100px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    }
 .div2{
        background-color: lightgreen;
        float: left;
        width: 49%;
        height: 200px;
        margin-right: 1px;
        border-radius: 5px;
    }
    .div3{
        background-color: darkgoldenrod;
        float: right;
        width: 50%;
        height: 200px;
        border-radius: 5px;
    }
.div4{
    background-color: gray;
    width: 100%;
    height: 100px;
    float: left;
    border-radius: 5px;
    margin: 5px;
}




.data1{
    background-color: darkgrey;
    height: 100px;
    width: 32.33%;
    margin-right: 5px;
    float: left;
    padding: 5px;
    border-radius: 5px;
}
.data2{
    background-color: darkgray;
    height: 100px;
    width: 32.33%;
    float: left;
    border-radius: 5px;
    padding: 5px;
}
.data3{
    background-color: darkgray;
    height: 100px;
    width: 32.33%;
    padding: 5px;
    float: right;
    border-radius: 5px;
}
.data4{
    background-color: darkslateblue;
    width: 99%;
    height: 100px;
    float: left;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

}
.data5{
    background-color: darkslateblue;
    width: 49%;
    height: 100px;
    float: left;
    margin: 5px;
    border-radius: 5px;
}
.data6{
    background-color: darkslateblue;
    width: 49%;
    height: 100px;
    float: right;
    margin: 5px;
    border-radius: 5px;
}
.data7{
    background-color: darkslateblue;
    width: 100%;
    height: 100px;
    float: left;
    margin: 5px;
    border-radius: 5px;
}

.table1{
    background-color: gray;
    width: 49%;
    height: 149px;
    float: left;
    margin: 5px;
    border-radius: 5px;
}
.table2{
    background-color: gray;
    width: 49%;
    height: 300px;
    float: right;
    border-radius: 5px;
    margin: 5px;
}
.table3{
    background-color: darkslateblue;
    width: 49%;
    height: 149px;
    float: left;
    border-radius: 5px;
    margin: 5px;
}
.item{
    padding: 5px;
    margin: 5px;
}
.value1{
    background-color: gray;
    width: 25%;
    height: 330px;
    padding: 5px;
    border-radius: 5px;
    float: left;
}
.value2{
    background-color: gray;
    width: 72%;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    float: right;
}
.value3{
    background-color: darkslateblue;
    width: 72%;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin: 5px;
}
.value4{
    background-color: darkslateblue;
    width: 35%;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin: 5px;
}
.value5{
    background-color: darkslateblue;
    width: 35%;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin: 5px;
}













